.form {
  display: flex;
  border-top: 2px solid #d3d3d3;
}

.input {
  border: none;
  border-radius: 0;
  padding: 5%;
  width: 80%;
  font-size: 1.2em;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.sendButton {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #3b6618;
  background: -webkit-linear-gradient(center, #3b6618, #1638ac);
  background: -moz-linear-gradient(center, #3b6618, #1638ac);
  background: linear-gradient(ellipse at center, #3b6618, #1638ac);
  padding: 20px;
  display: inline-block;
  border: none;
  width: 20%;
}
